body {
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(90deg, #d0efb1 0%, #b3d89c 25%, #9dc3c2 50%, #77a6b6 75%, #4d7298 100%);
}

h1 {
  margin-top: 2rem;
  text-align: center;
  color: white;
}

input {
 width: 100%;
 color: #4d7298;
}

table {
  margin-top: 3rem;
}

.deleteAllButton {
  text-align: center;
  margin-top: 3rem;
}

button {
  border-radius: 10px;
  background-color: white;
}